label {
    font-size: large;
}

#submit-btn {
    background-color: #323433; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
}

#submit-btn :hover {
    color: black;
    background-color: white;
}

.name-label {
    color: #ffffff;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}